body {
    margin: 0;
}

canvas {
    position: absolute;
    top: 0;
}

h3 {
    position: absolute;
    top: 120px;
    font-family: monospace;
    color: rgb(100, 255, 150);
    text-align: center;
    width: 100vw;
}

.gravitybar {
    width: calc(100vw - 40px);
    position: absolute;
    left: 20px;
    bottom: 20px;
}